NuGet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="packageSources">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="clear" />
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
									<xs:attribute name="protocolVersion" type="xs:unsignedByte" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="packageRestore">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="bindingRedirects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="packageManagement">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>